.header-color {
background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
}

.kobe-img {
  height: 300px;
  paddling-top: 5em;
  max-width: 300px;
  margin: 0 auto;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 46px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-bottom: 0em;
}

.banner-text h2 {
  padding-top: 0em;
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-align: center;
}
.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  text-align: center;
}

.social-link {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
}
.social-link i {
  color: white;
  font-size: 4em;
  padding: 8px;
}
 /* contact page css*/
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  margin-right: 10em;
}
.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-weight: bold;
}

.avatar-img {
  height: 300px;
  paddling-top: 5em;
  min-width: 200px;
  margin: 0 auto;
}

.contact-grid hr{
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i{
  font-size: 50px;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 3rem;
}

.contact{
  font-size: px;
  padding-right: 5rem;
}
