.scribr-logo {
  min-width: 120px;
  max-height: 5rem;
  padding-top: 15px;
  display: block;
  margin-right: 55%;
}

hr {
  border-top: 5px;
}
.scribr-hat {
  max-height: 6rem;
  padding-top: 15px;
  display: block;
  margin-left: 33%;
  margin-right: 30%;
}

.navigationbar {
  text-align: center;
}