
.about-header {
    display: block;
    text-align: center;
    margin-bottom: 0px;
    border-top: 1px solid #cccccc;
}

.about-header::after {
    content: "";
    background: url('../pictures/low-poly-texture-63.png');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 300px;
    position: absolute;
    z-index: -1; 
    margin-bottom: 0px;
}
.about-header h1{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 0px;
}

.about-header h3{
    color: #000;
    font-size: 23px;
    margin-top: 0px;
    text-align:center;
    margin-bottom: 30px;
}

.about-header Button {
    font-size: 15px;
    text-align: center;
}

.definition {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 

    margin-bottom: 0px;
}

.def-bar h1 {
    position: absolute;
    top: 335px;
    left: 590px;
    font-size: 22px;
}

.barimage {
    
    height: 85px;
    width: 800px;

}

.aboutimage {
    margin-left: 50px;
    width: 1030px;
    height: 600px;
}

.operation {
    background-color: #ffe8de;
    padding: 1px;;
}

.HIW {
    font-weight: bold;
    font-size: 34px;
}

.How {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.how {
    width: 200px;
    margin: 20px;
}

.how img {
    margin-left: 0;
    margin-bottom: 5px;
}

.how h3{
    font-size: 22px;
    font-weight: bold;
    color: #363636;
    margin: 0;
}

.how p{
    width: 350px;
    font-size: 15px;
}

.download {
    width: 30px;
    height: 30px;
}

.api {
    width: 40px;
    height: 40px;
}

.video {
    width: 42px;
    height: 42px;
}