/* .word {
    border-top: 1px solid #cccccc;
    padding: 50px;
    background-image: url(../pictures/bg_magic.jpg);
} */

.word {
    display: block;
    text-align: center;
    margin-bottom: 0px;
    padding: 50px;
    border-top: 1px solid #cccccc;
}

.word::after {
    content: "";
    background: url('../pictures/bg_magic.jpg');
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    position: absolute;
    z-index: -1; 
    margin-bottom: 0px;
}

.magic-header {
    text-align: center;
    margin-top: 50px;
}

.magic-header h1 {
    font-size: 40px;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
}

.magic-header p {
    font-size: 18px;
    color: #d3d3d3;
    margin-top: 15px;
}

.magic-space {
    color: white;
}

.magic-body {
    align-items: center;
}

.dropBox {
    align-items: center;
    text-align: center;
}



.dropzone {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border: 2px dashed rgb(187, 186, 186);
    border-radius: 50%;
    font-size: 16px;
    align-items: center;

}

.chips {
    margin-top: 33px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    orientation: row;
}



.chip img{
    height:500px;
    width: 500px;
}

.chip1 {
    position: relative;
}

.magic-result{
    align-items: center;
    text-align: center;
}


.pdf-preview {
    text-align: center;
}

.magic-player {
    position: absolute;
    top: 363px;
    left: 366px;
    width: 1800px;
    height: 1800px;
    align-items: center;
}






