.magic-header {
    font-size: 30px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.magic-url {
    font-size: 25px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

.magic-progress {
    text-align: center;
    margin-bottom: 5%;
    margin-left: 18%;
    margin-right: 15%;
    width: 2000px;
}

.magic-hat {
    width: 200px;
    height: 100px;
    margin-left: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-right: auto;
    display: block;
}

.magic-button:disabled {
    padding-left: 8%;
}

.magic-botton:enabled {
    background-color: blue;
    color: white;
}

.magic-space {
    color: white;
}

.buttons {
    margin-left: 5%;
}

.magic-player {
    margin-left: 27%;
    margin-right: 27%;
}
